* {
  top: 0;
  left: 0;
  margin: 0;
}

.content {
  width: 100%;
  font-family: Heebo;
  font-weight: 500;
}
.content .clouds {
  overflow-y: hidden;
}
.content .clouds .clouds-img {
  margin-left: -20%;
  max-width: 150%;
  min-width: 150%;
  -o-object-fit: cover;
     object-fit: cover;
  animation-name: clouds-move;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}
@keyframes clouds-move {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translateX(-10%);
  }
  66% {
    transform: translateX(10%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.content .header {
  position: absolute;
  z-index: 2;
  top: 3%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .header .header-logo {
  font-family: Pacifico;
  color: #ffba39;
  font-size: 4vh;
  margin-left: 3%;
  cursor: pointer;
}
.content .header .header-nav {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.content .header .header-nav a {
  color: #5e6579;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}
.content .header .topnav {
  display: none;
  width: 10vw;
}
.content .header .topnav #myLinks {
  display: none;
  position: absolute;
  top: 5vh;
  width: 100vw;
  padding: 5% 0 5% 5%;
  background-color: rgba(255, 255, 255, 0.655);
  min-height: 10vh;
}
.content .header .topnav a {
  display: block;
  padding-bottom: 3%;
  color: #495d94;
  text-decoration: none;
  font-size: 20px;
}
.content .header .topnav a:hover {
  background-color: #ddd;
  color: black;
}
.content .header .topnav a.icon {
  width: 8%;
  background: transparent;
}
.content .header .active {
  background-color: #04AA6D;
  color: white;
}
.content .header .header-call {
  display: flex;
  align-items: center;
  width: 10%;
  cursor: pointer;
}
.content .header .header-call .call-text {
  color: #5e6579;
  font-weight: 300;
  font-size: 20px;
  margin-right: 5%;
}
.content .header .header-call img {
  width: 2.5vh;
  height: 2.5vh;
  margin-top: -3%;
}
.content .slogan {
  text-align: center;
  position: absolute;
  margin-top: 20vh;
  margin-left: 15vw;
  color: #495d94;
}
.content .slogan .slogan-title {
  font-weight: 900;
  font-size: 8vh;
}
.content .slogan .slogan-text {
  font-weight: 600;
  margin-top: 1%;
}
.content .bakery {
  position: absolute;
  top: 50vh;
  overflow: hidden;
}
.content .bakery img {
  margin-left: -2%;
  max-width: 102%;
  min-width: 102%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  width: 100vw;
}
.content .info {
  position: absolute;
  z-index: 3;
  height: 350vh;
  width: 100%;
  top: 30vh;
  background: #ffba39;
  background: linear-gradient(180deg, rgba(66, 92, 111, 0) 17%, rgb(255, 186, 57) 30%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 20vh;
}
.content .info div {
  width: 70%;
  height: 25vw;
  margin-left: 12vw;
  background: rgb(255, 171, 214);
}
.content .info img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 35vw;
  height: 50vh;
  margin-left: 3vw;
  border-radius: 5%;
}
.content .info .info-title {
  color: white;
  text-align: center;
  margin-top: 5vh;
  padding-bottom: 2vh;
}
.content .info .info-description {
  width: 70%;
  margin-left: 6.5vw;
  color: #5e6579;
}
.content .info footer {
  margin-left: 3%;
}
.content .info-1-text {
  grid-area: 1/1/2/2;
  margin-top: 115vh;
  display: flex;
  border-radius: 64% 25% 59% 73%/67% 27% 82% 24%;
  border: 7px solid white;
  flex-direction: column;
}
.content .info-1-img {
  grid-area: 1/2/2/3;
  margin-top: 115vh;
}
.content .info-2-text {
  grid-area: 2/1/3/2;
  background: white;
  border-radius: 47% 21% 59% 73%/67% 77% 48% 100%;
  border: 7px solid white;
}
.content .info-2-img {
  grid-area: 2/2/3/3;
}
.content .info-3-text {
  grid-area: 3/1/4/2;
  background: white;
  margin-top: -10vh;
  border-radius: 32% 88% 28% 97%/100% 58% 87% 89%;
  border: 7px solid white;
}
.content .info-3-img {
  grid-area: 3/2/4/3;
  margin-top: -10vh;
}
.content .footer {
  z-index: 10;
}

@media screen and (max-width: 600px) {
  .content {
    overflow-x: hidden;
  }
  .content .clouds {
    overflow-x: hidden;
  }
  .content .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content .header .header-logo {
    font-size: 25px;
  }
  .content .header .header-nav {
    display: none;
  }
  .content .header .header-call {
    display: none;
  }
  .content .header .topnav {
    display: block;
  }
  .content .header .topnav #mylinks {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */