* {
    top: 0;
    left: 0;
    margin: 0;
}

$color_1: white;
$color_2: black;
$background-color_1: #ddd;
$background-color_2: #04AA6D;

.content {
    width: 100%;
    font-family: Heebo;
    font-weight: 500;
    overflow-x: hidden;

    .header {
        position: absolute;
        z-index: 2;
        top: 3%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .header-logo {
            font-family: Pacifico;
            //color: #5e6579;
            color: #ffba39;
            font-size: 4vh;
            margin-left: 3%;
            cursor: pointer;
        }

        .header-nav {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            a {
                color: white;
                //color: #ffba39;
                text-decoration: none;
                font-size: 20px;
                font-weight: 300;
            }
        }

        .topnav {
            display: none;
            width: 10vw;

            #myLinks {
                display: none;
                position: absolute;
                z-index: 10;
                top: 5vh;
                width: 100vw;
                padding: 5% 0 5% 5%;
                background-color: rgba(255, 255, 255);
                min-height: 10vh;
            }

            a {
                display: block;
                padding-bottom: 3%;
                color: #495d94;
                text-decoration: none;
                font-size: 20px;

                &:hover {
                    background-color: $background-color_1;
                    color: $color_2;
                }
            }

            a.icon {
                width: 8%;
                background: transparent;
            }
        }

        .active {
            background-color: $background-color_2;
            color: $color_1;
        }


        .header-call {
            display: flex;
            align-items: center;
            width: 10%;
            cursor: pointer;

            .call-text {
                color: white;
                font-weight: 300;
                font-size: 20px;
                margin-right: 5%;
            }

            img {
                width: 2.5vh;
                height: 2.5vh;
                margin-top: -3%;
            }
        }
    }

    .back-img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 120vh;
        overflow-x: hidden;
        position: absolute;
        z-index: 1;
    }

    .main-info {
        position: absolute;
        z-index: 3;
        height: 90vh;
        width: 90%;
        margin-left: 5%;
        margin-top: 16vh;
        background: rgba(255, 255, 255, 0.882);
        border-radius: 15px;
        overflow: hidden;

        .main-slogan {
            text-align: center;
            margin-top: 3%;
            font-weight: 700;
            font-size: 40px;
            color: #495d94;
        }

        .delivery {
            transition: 3s ease-in-out;
            margin-top: 3%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            color: #ff8839;
            transform: translate(-65vw);

            .delivery-title {
                font-size: 35px;
            }

            .phone {
                font-size: 50px;
            }

            .delivery-img {

                width: 10%;
            }
        }

        .carousel-bootstrap {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-left: 25%;
            width: 700px;

            h3 {
                color: #495d94;
                font-size: 30px;
                font-weight: 600;
                margin-right: 10%;
            }

            .products {
                margin-left: 5%;
            }
            
        }

    }

}


@media screen and (max-width: 600px) {
    .content {
        overflow-x: hidden;

        .clouds {
            overflow-x: hidden;

            .clouds-img {}
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .header-logo {
                font-size: 25px;
            }

            .header-nav {
                display: none;
            }

            .header-call {
                display: none;
            }

            .topnav {
                display: block;

                #mylinks {
                    display: block;
                }
            }
        }

        .back-img {
            
            height: 130vh;
        }

        .main-info {
            
    
            .main-slogan {
                
            }
    
            .delivery {
                transition: 3s ease-in-out;
                margin-top: 3%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                color: #ff8839;
                transform: translate(-65vw);
    
                .delivery-title {
                    font-size: 25px;
                }
    
                .phone {
                    font-size: 25px;
                }
    
                .delivery-img {
    
                    width: 10%;
                }
            }
    
            .carousel-bootstrap {
                flex-direction: column;
                width: 300px;
                margin-left: 10%;
                margin-top: 15%;
    
                h3 {
                    color: #495d94;
                    font-size: 25px;
                    font-weight: 600;
                    margin-right: 10%;
                }
    
                .products {
                    margin-left: 5%;
                }
                
            }
    
        }

    }
}


@media only screen and (min-width: 601px) and (max-width: 959px) {

    .content {
        overflow-x: hidden;

        .clouds {
            overflow-x: hidden;

            .clouds-img {}
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .header-logo {
                font-size: 35px;
            }

            .header-nav {
                display: none;
            }

            .header-call {
                display: none;
            }

            .topnav {
                display: block;

                #mylinks {
                    display: block;
                }
            }
        }
    }

}