* {
    top: 0;
    left: 0;
    margin: 0;
}

body{
    overflow-y: hidden;
}

.content {
    width: 100%;
    font-family: Heebo;
    font-weight: 500;
    overflow-x: hidden;

    .header {
        position: absolute;
        z-index: 2;
        top: 3%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .header-logo {
            font-family: Pacifico;
            //color: #5e6579;
            color: #ffba39;
            font-size: 4vh;
            margin-left: 3%;
            cursor: pointer;
        }

        .header-nav {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            a {
                color: white;
                //color: #ffba39;
                text-decoration: none;
                font-size: 20px;
                font-weight: 300;
            }
        }

        .header-call {
            display: flex;
            align-items: center;
            width: 10%;
            cursor: pointer;

            .call-text {
                color: white;
                font-weight: 300;
                font-size: 20px;
                margin-right: 5%;
            }

            img {
                width: 2.5vh;
                height: 2.5vh;
                margin-top: -3%;
            }
        }
    }

    .back-img{
        object-fit: cover;
        width: 100vw;
    }

    .form{
        position: absolute;
        margin-top: 20vh;
        margin-left: 27.5vh;
        width: 70%;
        height: 75vh;
        background-color: rgb(173, 161, 161);

        .slogan{
            text-align: center;
            margin-top: 2%;
            margin-left: 1%;
            margin-bottom: 5%;
            color:white;
    
            .slogan-title{
                font-weight: 900;
                font-size: 8vh;
            }
    
            .slogan-text{
                font-family: 'Courier New', Courier, monospace;
                font-weight: 600;
                margin-top: 1%;
            }
        }

    }
    

    .footer{
        z-index: 10;
    }

}
